---
import { Image } from "astro:assets";
import logo from "../images/annie-sexton-logo.png";
import Layout from "./Layout.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---
<Layout title={title}>
  <div class="bg-[url('https://fly.storage.tigris.dev/rough-night-1901/assets/light-gradient-bg.png')] dark:bg-dark-mode-gradient bg-cover min-h-screen">
    <nav class="flex gap-5 items-center p-10">
      <a href="/"><Image src={logo} class="max-w-[250px] max-h-[76px] w-full mb-1" alt="logo"/></a>
      <span class="text-gray-400 dark:text-gray-100 ">/</span>
      <a href="/blog" class="text-gray-400 dark:text-gray-100 uppercase text-xl tracking-widest">Blog</a>
    </nav>
    <slot/>
    <footer class="flex items-center justify-center py-20 pb-36">
      <div class="flex flex-col items-center md:flex md:flex-row gap-6">
        <div class="dark:text-gray-200">Follow Annie on Twitter <a href="https://twitter.com/_anniebabannie_" target="_blank">@_anniebabannie_</a></div>
        <div class="dark:text-gray-200">•</div>
        <div class="dark:text-gray-200">© {new Date().getFullYear()} Annie Sexton</div>
      </div>
    </footer>
  </div>
</Layout>